<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>質問「<%= @question.title %>」に対する回答が投稿されました。</p>
    <p>内容：<%= @answer.content %></p>
  </body>
</html>