<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>以下の質問が投稿されました。</p>
    <p>タイトル：<%= @question.title %></p>
    <p>内容：<%= @question.content %></p>
  </body>
</html>